{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Bharat {% block title %}{% endblock %}</title>
    
    <link href="{% static 'bootstrap/bootstrap.min.css' %} " rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src=".././static/js/style.js"></script>
    <link rel="stylesheet" href=".././static/css/style.css"/>
    <style>
      .animation{
        font-family:sans-serif;
        text-decoration: none;
      }
      .animation::after{
        
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        background-color: white;
        transform: scaleX(0);
        transform-origin:left;
        transition:transform 0.4s ease;
    }
    .animation:hover:after{
        transform:scaleX(1.3);
    }
    .pack{
      margin-bottom:50px
    }
    .pack:hover{
      transformation-origin:bottom;
      transform:scale(1.1);
      transition:transform 0.6s ease;
    }
    .pack a{
      display:block;
    }
    .news-hover{
      background-color:black
    }
    {% comment %} .pack:hover a{
      display:block
    } {% endcomment %}
    
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-white text-white shadow-sm">
        <div class="container-fluid">
          <a class="navbar-brand" >TheBharat</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto " >
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="{%  url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%  url 'AboutUs' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%  url 'all_news' %}">News</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{%  url 'logout' %}">Log Out</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{%  url 'signin' %}">Sign In</a>
              </li>
              {% endif %}
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{%  url 'subscribe' %}">Subscribe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%  url 'profile' %}">Profile</a>
              </li>
              {% endif %}
            </ul>
            <ul class="navbar-nav ">
              <li class="nav-item">
                <form class="d-flex" method="POST" action="{% url 'search' %}" role="search">
                  {% csrf_token %}
                  <input class="form-control me-2" type="search" name="query" id="query" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    {% block content %} 
    
    {% endblock content %}
    <footer class="mt-5 bg-dark" style="color:white; box-shadow: rgba(54, 52, 52, 0.2) 0px 20px 30px;">
      <div class="container-fluid">
        <div class="row py-5 ms-1">
          <div class="col-md-4" style="font-family:Georgia, 'Times New Roman', Times, serif ; padding-top:30px;">
            <h1>TheBharat</h1>
            <p class="fs-6">#1 News agency worldwide</p>
          </div>
          <div class="col-md-4">
            <h3 style="font-weight:400;font-family:Georgia, 'Times New Roman', Times, serif" class="my-3">Services</h3>
            <div style="font-family:Georgia, 'Times New Roman', Times, serif" class="mb-1">Daily News Available</div>
            <div style="font-family:Georgia, 'Times New Roman', Times, serif" class="mb-1">Buy Plans</div>
            <div style="font-family:Georgia, 'Times New Roman', Times, serif" class="mb-1">Avail Monthly Magazine</div>
          </div>
          <div class="col-md-4">
            <h3 style="font-weight:400;font-family:Georgia, 'Times New Roman', Times, serif" class="my-3">Contacts</h3>
            <a href = "tel: +91 9178999486" style="color:white" class="text-decoration-none">+91 9178999486</a> 
            <div>India , Odisha , 751019</div>
            <h3 style="font-weight:400;font-family:Georgia, 'Times New Roman', Times, serif" class="my-3">Email</h3>
            <a href = "mailto: dharmarajjena694@gmail.com" style="color:skyblue" class="text-decoration-none">dharmarajjena694@gmail.com</a>
          </div>
        </div>
      </div>
      <hr>
      <div class="row py-2 ms-1">
        <div class="col-md-10">
          <p class="fs-5" style="font-family:Georgia, 'Times New Roman', Times, serif">&copy; 2023 created by Dharmaraj Jena</p>
          <div class="fs-6 ms-1 mb-1" style="font-family:Georgia, 'Times New Roman', Times, serif">All rights reserved</div>
        </div>
        <div class="col-md-2">
          <div>
            <h4 style="font-family:Georgia, 'Times New Roman', Times, serif">Follow us</h4>
          </div>
          <i class="fa-brands fa-instagram ms-1" style="color: #f2f2f2;"></i>
          <i class="fa-brands fa-twitter ms-1" style="color: #f1f2f4;"></i>
          <i class="fa-brands fa-facebook ms-1" style="color: #e6e8ea;"></i>
        </div>
      </div>
      

    </footer>
    {% block extrajs %}
    
    {% endblock extrajs %}

    
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>